<h1>RKSK </h1>

<h3>Login</h3>
<%= form_tag('/login', method: :post) do%>
<%= label_tag 'username' %>
<%= text_field_tag 'username' %>
<%= label_tag 'password' %>
<%= password_field_tag 'password' %>
<%= submit_tag 'login'%>
<%end%>
<br>
<%= link_to('sign up', new_user_path) %>
