

<div class="center-align">
  <img class="responsive-img" src="assets/images/rksk_splash.jpg">

  <h1 style="font-size: 14.2rem">RKSK</h1>



  <div>
    <h4 style="font-size: 2rem; padding-bottom: 0.5%">Pack for tomorrow, live for today!</h4>
  </div>
  <div class="container">
    <div class="row">
      <div class="col s12">
        <div class="row">
          <div class="input-field col s6">

            <%= form_tag('/login', method: :post) do%>
            <%= text_field_tag 'username', nil, placeholder: "Enter Your Username"%>

          </div>
          <div class="input-field col s6">

            <%= password_field_tag 'password', nil, placeholder: "Enter Your Password"%>
          </div>

          <div>
          <a class="waves-effect waves-light btn-large"><%= submit_tag 'login'%></a>
          </div>
          <%end%>
          <div>OR
          </div>

          <div>
            <a class="waves-effect waves-light btn-large"><%= button_to("sign up", new_user_path, method: :get) %></a>
          </div>

          </div>

        </div>
