<%= render 'layouts/nav.html.erb' %>


<% if @pack.errors.any? %>
  <h2>Must choose four bro...</h2>
<%end%>


<h1>Get ready for <%= @pack.location_name %>!</h1>
  <h3>Today's weather is <%=@pack.temp_f%> degrees and <%= @pack.weather_desc %>.</h3>

  <div class="divider"></div>

<%= form_for @pack do |f| %>
  <div class="input-field inline">
    <h4>Name Your Pack: <%= f.text_field :name %></h4></div>

  <h4>Choose some items for your new starter pack:</h4>
  <div>

    <%=%>

    <ul>
      <%= f.collection_check_boxes :item_ids, @user_selections, :id, :title do |b|%>
        <li>  <%= b.check_box + b.label%></li>
      <% end %>
    </ul>

  </div>
  <div class="center-align">
    <a class="waves-effect waves-light btn-large"><i class="small material-icons">flight_takeoff</i><%=f.submit "Get My Pack" %></a>
    <%end%>
  </div>

  <%= render 'layouts/footer.html.erb' %>
  
