<%= render 'layouts/nav.html.erb' %>

<h1>Recent Featured Packs</h1>
<%= render 'layouts/picture_grid.html.erb' %>

<% if @packs.blank? %>
  <h4>There are no packs containing the term <%= params[:search] %>.</h4>
<% end %>




<div class="divider"></div>
<div class="center-align">
  <h3><%= link_to("Back to My Packs", user_path(@user), method: :get) %></h3>
  <br/><br/>
</div>
<%= render 'layouts/footer.html.erb' %>
