<h1><%= @pack.name %></h1>
<h2>For <%= @pack.temp_f %> degrees and <%= @pack.weather_desc %> (<%= @pack.find_association_by_desc("mist") %>)</h2>
<%= link_to "Delete", pack_path(@pack), method: :delete %> <br/>
<%= link_to "Back to My Packs", user_path(@user) %>
  <ul>
    <% total_price = 0.00%>
    <% @pack.items.each do |item| %>
      <li><img src = "<%= item.image %>"> <%= link_to item.title, item.url %></li>
      $<%= item.price%>
      <%total_price += item.price.to_f%>
    <%end%>
    <h3>The total price of this rksk is: $<%=total_price%>
  </ul>
